/* line 1, ../src/main.scss */
body {
  font: 3em Times, sans-serif;
  padding: 0.7em 1em;
  background: url("bg.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  display: block;
  text-align: center;
  color: #eee;
}

/* line 11, ../src/main.scss */
.prompt {
  margin: 0 auto;
}

/* line 14, ../src/main.scss */
input {
  font-size: 1em;
}

/* line 17, ../src/main.scss */
#loginStatus p {
  margin: 0;
}

/* line 20, ../src/main.scss */
#loginStatus img {
  margin: 0 auto;
}
